[mysqld]
datadir=/usr/local/mysql/data
socket=/usr/local/mysql/tmp/mysql.sock

bind-address=0.0.0.0
listen=3306

symbolic-links=0

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
